// ------------------------------------------------------------------------------
// Slimpixels
// Colour vars
// ------------------------------------------------------------------------------

$color-white: #ffffff;
$color-black: #000;
$color-grey: #ccc;

$color-icon-hover: #f00;

$color-error: #6b3400;
$color-success: #005651;
