// ------------------------------------------------------------------------------
// Slimpixels
// Default variables
// Debugging etc
// ------------------------------------------------------------------------------


// DEBUG 
// 
// Debug mode will visually highlight any potential markup/accessibility quirks
// in the browser. Set to `true` or `false`.
$debug-mode:        false!default;

// BORDER-BOX
$global-border-box: true!default;

//  $BASE
$base-font-size:    16px!default;
$base-line-height:  20px!default;

// Base font-family.
$base-font-family:  sans-serif!default;

// Default colour for objects’ borders etc.
$base-ui-color:     #ccc!default;


// Breakpoints
$mq-breakpoints: (
    mobile:     320px,
    mobile-lg:  640px,
    tablet:     740px,
    tablet-l:   1025px,
    desktop:    980px,
    wide:       1300px,
    ultrawide:  1700px
);