// ------------------------------------------------------------------------------
// Slimpixels
// Maps
// ------------------------------------------------------------------------------



.map {
  height: 500px;
  &__inner {
    height: 100%; 
  }
  img {
    max-width: inherit;
  }
  .map__infobox {
    display: none; 
  }
}

.infobox {
  &__bd,
  &__footer {
  }
  &__bd {
  }
  &__heading {
  }
  &__text {
  }
  &__image {
    width: 100%;
  } 
}